<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot home</title>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .btn {
            cursor: pointer;
            padding: 10px;
            background-color: #2196f3;
            color: white;
            border: none;
            border-radius: 10px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Chatbot function</h1>
    <form method="POST" action="/setup-profile">
        <button class="btn" type="submit">
            Setup profile
        </button>
    </form>
</body>

</html>